@charset "ISO-8859-1";
a {
	text-decoration: none;
	margin-right: 0px;
}

.page-header{
	background-color:black;
	color: white
}

.page-header h2{
	margin-top: 10px;
}



table h4{
	margin-left: 20px;
}
input {
	width: 120%;
	
}
